.main {
    padding: 100px;
    text-align: center;
    font-family: sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    background-color: goldenrod;
}

.header {
    padding: 100px 0;
    padding-top: 0;
    font-size: 48px;
    font-weight: 700;
    color: beige;
    font-family: sans-serif;
    background-color: darkseagreen;
    text-align: center;
    
}
.header-menu{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(221, 188, 77);
}
.header-banner{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}